.intro1 {
    text-align: center;
    padding-top: 100px;
    
  }

.intro2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .intro3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

.table {
    width: 450px;
}

.table1 {
    width: 450px;
}

.table2 {
    width: 400px;
}

.firstRow {
    font-size: medium;
}

.div {
    display: grid;
    justify-content: center;
    padding: 30px;
}

.tr {
    justify-content: space-between;
    height: 30px;
}

.tr1 {
    justify-content: space-between;
    height: 20px;
}


/* Media Queries */

@media (min-width: 1024px) {

    .intro1 {
        text-align: center;
        padding-top: 100px;
      }
    
    .intro2 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    
      .intro3 {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 40px;
      }

    .table {
        width: 1200px;
    } 

    .table1 {
        width: 1200px;
    } 

    .table2 {
        width: 800px;
    } 

    .firstRow {
        font-size: 40px;
    }

    .columns {
        font-size: 25px;
    }

    .columns1 {
        font-size: 20px;
    }

    .tr {
        justify-content: space-between;
        height: 50px;
    }

    .tr1 {
        justify-content: space-between;
        height: 60px;
    }
    
}